
body {
    background-color: rgb(247, 254, 106);
}

.body {
    display: flex;
    flex-direction: column;
    margin-left: 150px;
    margin-right: 150px;
}

.logo {
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.characters1 {
    justify-content: center;
    display: grid;
    margin-top: 10px;
    margin-bottom: 50px;
    grid-template-columns: 20% 20% 20% 20%;
    grid-template-rows: 575px;
}

.characters2 {
    justify-content: center;
    display: grid;
    margin-top: 10px;
    margin-bottom: 50px;
    grid-template-columns: 20% 20% 20% 20%;
    grid-template-rows: 575px;
}

#carouselExampleCaptions {
    display: flex;
    justify-content: center;
    height: 600px;
    width: 1000px;
}