
body {
    background-color: rgb(247, 254, 106);
}
 
h1 {
    font-size: 60px;
    display: flex;
    justify-content: center;
}

.story {
    font-size: 35px;
    display: flex;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: cyan;
}

h2 {
    display: flex;
    justify-content: flex-start;
    margin-left: 100px;
    font-size: 50px;
}

.body {
    display: flex;
    flex-direction: column;
    margin-left: 150px;
    margin-right: 150px;
}

.logo {
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.characters1 {
    justify-content: center;
    display: grid;
    margin-top: 10px;
    margin-bottom: 50px;
    grid-template-columns: 300px 300px 300px 300px;
    grid-template-rows: 575px ;
}

.characters2 {
    justify-content: center;
    display: grid;
    margin-top: 10px;
    margin-bottom: 50px;
    grid-template-columns: 300px 300px 300px 300px;
    grid-template-rows: 575px;
}

.episodes { 
    display: grid;
    flex-direction: column;
    margin-left: 100px;
    margin-right: 100px;
    grid-template-columns: 100%;
    grid-template-rows: repeat(10, 250px);
}

.ep {
    background-color: cyan;
    border-style: outset;
    border-color: aliceblue;
    margin: 11px;
    
}

h3 {
    font-size: 35px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.synopsis {
    color: black;
    font-size: 30px;
}

.thumbnail {
    float: right;
    width: 400px;
    height: auto;
}

#carouselExampleCaptions {
    display: flex;
    justify-content: center;
    height: 600px;
    width: 1000px;
}